
/* For phones- */
@media (max-width:360px){

    body{
        /* CSS reset */
        margin: 0%;
        padding: 0%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 7px;
        color: white;
        background: #ffefef;
        height: 550px;
    
    }



    #logo{
        position: fixed;
        /* border-radius: 30px; */
        background-color:#00b5ff;
        color: white;
        top: -18px;
        left:-17px;
        font-size: 25px;
        width: 100%;
        margin: 13px 10px;
        padding: 5px 10px;
        z-index: 5;
        text-align: center;
    }

    /* logos animation- */
    .ball{
        position: fixed;
        width: 44px;
        top: 17px;
        z-index: 5;
    }

    #red{
        position: fixed;
        left: -16px;
        animation: logosred ease-out 1s infinite;
    }

    @keyframes logosred {
        0%{
            top: 0px;
        }

        25%{
            top: 2px;
        }

        
    }


    #green{
        position: fixed;
        left: -5px;
        animation: logosgreen ease-in 1.5s 1s infinite;
    }

    @keyframes logosgreen {
        0%{
            top: 0px;
        }

        25%{
            top: 2px;
        }

        
    }

    #blue{
        position: fixed;
        left: 7.1px;
        animation: logosblue ease-out  2.5s 1s infinite;
    }

    @keyframes logosblue {
        0%{
            top: 0px;
        }

        25%{
            top: 2px;
        }

        
    }
    
    

    header{
        position: fixed;
        /* border: 2px solid black; */
        background-color: rgb(0, 0, 0);
        border-radius: 50px;
        width: 100%;
        /* opacity: 0.8; */
        z-index: 5;
        /* newly added- */
        top: 39px;
    }
    
    li{

        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
    
    ul{
        display: flex;
    }
    
    .hasc{
        padding: 0px 7px;
        /* margin: 0px 20px; */
    }
    
    a:hover{
        font-size: 7px;
        border-radius: 20px;
        /* background-color: white; */
        color: rgb(255, 209, 5);
        /* text-decoration: underline; */
        /* padding: 1px 5px; */
    }
    
    #Contact{
        /* text-decoration: underline; */
        font-size: 7px;
        border-radius: 20px;
        background-color: rgb(255, 209, 5);
        /* color: black; */
        padding: 1px 5px;

    }

    /* Contact us starts here- */

    .former{
        color: black;
        position: absolute;
        font-size: 10px;
        border: 2px solid white;
        background-color: white;
        border-radius: 30px;
        padding: 1px 2px;
    }

    #N{
        top: 101px;
        left: 29px;
    }

    #P{
        top: 154px;
        left: 12px;
    }

    #U{
        top: 206px;
        left: 7px;
    }
    
    #Pa{
        top: 259px;
        left: 12px;
    }
    
    #F{
        top: 312px;
        left: 8px;
        font-size: 10px;
    }

    input{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 20px;
        width: 75px;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
        left: 72px;
        font-size: 7px;
    }

    textarea{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
        font-size: 10px;
    }
    
    #name{
        position: absolute;
        top: 108px;
      


    }
    #phone-no{
        position: absolute;
        top: 161px;
      
    }
    #username{
        position: absolute;
        top: 213px;
        
    }
    #password{
        position: absolute;
        top: 266px;
       
    }
    #feedback{
        position: absolute;
        top: 318px;
        left: 72px;
        width: 80px;
    }
    #submit{
        position: absolute;
        top: 357px;
        left: 150px;
        background-color: white;
        width: 56px;
    }

    /* Call */
    #call{
        font-size: 10px;
        position: absolute;
        top: 359.2px;
        left: 101px;
        border: 2px solid black;
        background-color: rgb(0, 217, 255);
        border-radius: 30px;
        text-decoration: none;
        padding: 0px 3px;
    }

    
    #bod{
        position: fixed;
        /* top: -10px; */
        width: 100%;
        height: 100%;
        z-index: -3;
        /* opacity: 0.6; */
    }
}


@media (min-width:360px) and (max-width:600px){

    body{
        /* CSS reset */
        margin: 0%;
        padding: 0%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: white;
        background: #ffefef;
        height: 650px;
    
    }



    #logo{
        position: fixed;
        /* border-radius: 30px; */
        background-color:#00b5ff;
        color: white;
        top: -18px;
        left:-17px;
        font-size: 28px;
        width: 100%;
        margin: 13px 10px;
        padding: 6px 10px;
        z-index: 5;
        text-align: center;

    }

    /* logos animation- */
    .ball{
        position: fixed;
        width: 79px;
        top: 16px;
        z-index: 5;
    }

    #red{
        position: fixed;
        left: -22px;
        animation: logosred ease-out 1s infinite;
    }

    @keyframes logosred {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }


    #green{
        position: fixed;
        left: -2.9px;
        animation: logosgreen ease-in 1.5s 1s infinite;
    }

    @keyframes logosgreen {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }

    #blue{
        position: fixed;
        left: 19px;
        animation: logosblue ease-out  2.5s 1s infinite;
    }

    @keyframes logosblue {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }

    header{
        position: fixed;
        /* border: 2px solid black; */
        background-color: rgb(0, 0, 0);
        border-radius: 50px;
        width: 100%;
        /* opacity: 0.8; */
        z-index: 5;
        /* newly added- */
        top: 45px;
    }
    
    li{

        list-style: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
    
    ul{
        display: flex;
    }
    
    .hasc{
        padding: 0px 10px;
        /* margin: 0px 20px; */
    }
    
    a:hover{
        font-size: 15px;
        border-radius: 20px;
        /* background-color: white; */
        color: rgb(255, 209, 5);
        /* text-decoration: underline; */
        /* padding: 1px 5px; */
    }

    #Contact{
        /* text-decoration: underline; */
        font-size: 15px;
        border-radius: 20px;
        background-color: rgb(255, 209, 5);
        /* color: black; */
        padding: 2px 5px;

    }

    /* Contact us starts here- */

    .former{
        color: black;
        position: absolute;
        border: 2px solid white;
        background-color: white;
        border-radius: 30px;
        padding: 1px 2px;
    }

    #N{
        top: 188px;
        left: 68px;
    }

    #P{
        top: 238px;
        left: 38px;
    }

    #U{
        top: 287px;
        left: 39px;
    }

    #Pa{
        top: 337px;
        left: 44px;
    }

    #F{
        top: 389px;
        left: 40px;
    }

    input{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 25px;
        width: 101px;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
        left: 120px;
        font-size: 10px;
    }

    textarea{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
    }
    
    #name{
        position: absolute;
        top: 200px;
      


    }
    #phone-no{
        position: absolute;
        top: 250px;
      
    }
    #username{
        position: absolute;
        top: 300px;
        
    }
    #password{
        position: absolute;
        top: 350px;
       
    }
    #feedback{
        position: absolute;
        top: 400px;
        left: 120px;
        width: 157px;
    }
    #submit{
        position: absolute;
        top: 456px;
        left: 230px;
        background-color: white;
        width: 80px;
    }    

    /* Call */
    #call{
        font-size: 14px;
        position: absolute;
        top: 457.1px;
        left: 130px;
        border: 2px solid black;
        background-color: rgb(0, 217, 255);
        border-radius: 30px;
        text-decoration: none;
        padding: 0px 10px;
    }

    #bod{
        position: fixed;
        /* top: -10px; */
        width: 100%;
        height: 100%;
        z-index: -3;
        /* opacity: 0.6; */
    }
}

/* For pc and laptops- */
@media (min-width:600px){

    body{
        /* CSS reset */
        margin: 0%;
        padding: 0%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: white;
        background: #ffefef;
        height: 850px;
    
    }



    #logo{
        position: fixed;
        /* border-radius: 30px; */
        background-color:#00b5ff;
        color: white;
        top: -18px;
        left:-17px;
        font-size: 40px;
        width: 100%;
        margin: 13px 10px;
        padding: 15px 10px;
        z-index: 5;
        text-align: center;
    }

    /* logos animation- */
    .ball{
        position: fixed;
        width: 180px;
        top: 24px;
        z-index: 5;
    }

    #red{
        position: fixed;
        left: -41px;
        animation: logosred ease-out 1s infinite;
    }

    @keyframes logosred {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }


    #green{
        position: fixed;
        left: -0.9px;
        animation: logosgreen ease-in 1.5s 1s infinite;
    }

    @keyframes logosgreen {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }

    #blue{
        position: fixed;
        left: 41px;
        animation: logosblue ease-out  2.5s 1s infinite;
    }

    @keyframes logosblue {
        0%{
            top: 0px;
        }

        25%{
            top: 3px;
        }

        
    }

    header{
        position: fixed;
        /* border: 2px solid black; */
        background-color: rgb(0, 0, 0);
        border-radius: 50px;
        width: 100%;
        /* opacity: 0.8; */
        z-index: 5;
        /* newly added- */
        top: 80px;
    }
    
    li{

        list-style: none;
    }


    a{
        text-decoration: none;
        color: white;
    }
    
    ul{
        display: flex;
    }
    
    .hasc{
        padding: 0px 20px;
        /* margin: 0px 20px; */
    }
    
    a:hover{
        font-size: 25px;
        border-radius: 20px;
        /* background-color: white; */
        color: rgb(255, 209, 5);
        /* text-decoration: underline; */
        /* padding: 1px 5px; */

    }

    #Contact{
        /* text-decoration: underline; */
        font-size: 25px;
        border-radius: 20px;
        background-color: rgb(255, 209, 5);
        /* color: black; */
        padding: 2px 5px;

    }



    /* Contact us starts here- */

    .former{
        color: black;
        position: absolute;
        border: 2px solid white;
        background-color: white;
        border-radius: 30px;
        padding: 1px 2px;
    }

    #N{
        top: 175px;
        left: 63px;
    }

    #P{
        top: 220px;
        left: 18px;
    }

    #U{
        top: 270px;
        left: 16px;
    }

    #Pa{
        top: 320px;
        left: 21px;
    }

    #F{
        top: 374px;
        left: 18px;
    }

    input{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 40px;
        width: 250px;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
        left: 139px;
    }

    textarea{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 30px;
        padding: 0px 15px;
        font-weight: 600;
    }
    
    #name{
        position: absolute;
        top: 200px;
      


    }
    #phone-no{
        position: absolute;
        top: 250px;
      
    }
    #username{
        position: absolute;
        top: 300px;
        
    }
    #password{
        position: absolute;
        top: 350px;
       
    }
    #feedback{
        position: absolute;
        top: 400px;
        left: 139px;
    }
    #submit{
        position: absolute;
        background-color: white;
        top: 478px;
        left: 325px;
        width: 80px;
    }


    /* call */
    #call{
        font-size: 20px;
        position: absolute;
        top: 480px;
        left: 225px;
        border: 2px solid black;
        background-color: rgb(0, 217, 255);
        border-radius: 30px;
        text-decoration: none;
        padding: 0px 10px;
    }

    /* image for body separately- */
    #bod{
        position: fixed;
        /* top: -10px; */
        width: 100%;
        height: 100%;
        z-index: -3;
        /* opacity: 0.6; */
    }
}
    